<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello</p>
    <p>You have been invited to join <%= @organization_name %> on <%= @app_name %></p>
    <p><%= link_to 'Click here', @signup_url %> to create an account.</p>
    <p>Thanks!</p>
    <p>The <%= @app_name %> Team</p>
  </body>
</html>
